In [1]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv("Details.csv")

features = [
    'Name','Age:', 'Height:', 'Weight:', 
     'Hair Color:', 'Fake Boobs:', 'Piercings:',  
 'Background:'
]

In [5]:
df = df[features]

In [7]:
df

,Name,Age:,Height:,Weight:,Hair Color:,Fake Boobs:,Piercings:,Background:
0,"""Lana Rhoades""",23.0,5 ft 5 in (165 cm),115 lbs (52 kg),Brunette,No,NaN,American
1,"""Mia Khalifa""",NaN,5 ft 2 in (157 cm),121 lbs (55 kg),NaN,NaN,NaN,NaN
2,"""Riley Reid""",28.0,5 ft 4 in (163 cm),108 lbs (49 kg),"Blonde, Brunette",No,NaN,American
3,"""Abella Danger""",18.0,5 ft 4 in (163 cm),130 lbs (59 kg),Brunette,No,NaN,American
4,"""Maitland Ward""",NaN,5 ft 10 in (178 cm),130 lbs (59 kg),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
11390,"""Maya Summers""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11391,"""Kaira Paola""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11392,"""Angelina Del Mar""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11393,"""Judy Blond""",NaN,\n\t\t\t\t\t\t\t5 ft 8 in (173 cm),\n\t\t\t\t\t\t\t125 lbs (57 kg),NaN,NaN,NaN,NaN
11394,"""Simone Schiffer""",NaN,\n\t\t\t\t\t\t\t5 ft 8 in (173 cm),NaN,NaN,NaN,NaN,NaN

In [9]:
mean_age = df['Age:'].mean()

df['Age:'].fillna(mean_age, inplace=True)

C:\Users\Vedant\AppData\Local\Temp\ipykernel_48400\3325263341.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age:'].fillna(mean_age, inplace=True)

In [19]:
def extract_number_before_cm(height_str):
    if isinstance(height_str, str):  # Ensure the input is a string
        # Find the number before "cm"
        match = re.search(r'(\d+)\s*cm', height_str)
        if match:
            return int(match.group(1))
    # Return None if no match or if the input is not a string
    return None

In [21]:
df['Height'] = df['Height:'].apply(extract_number_before_cm)
df = df.drop(columns=['Height:'])

In [23]:
mean_height = df['Height'].mean()
df['Height'] = df['Height'].fillna(mean_height)

In [25]:
def extract_number_before_kg(weight_str):
    if isinstance(weight_str, str):  # Ensure the input is a string
        # Find the number before "kg"
        match = re.search(r'(\d+)\s*kg', weight_str)
        if match:
            return int(match.group(1))
    # Return None if no match or if the input is not a string
    return None

In [27]:
df['Weight'] = df['Weight:'].apply(extract_number_before_kg)

# Drop the 'Weight:' column
df = df.drop(columns=['Weight:'])

In [29]:
mean_weight = df['Weight'].mean()
df['Weight'] = df['Weight'].fillna(mean_weight)

In [31]:
valid_categories = {'Brunette', 'Blonde', 'Black', 'Red'}

# Function to clean and normalize hair color values
def normalize_hair_color(hair_color):
    if pd.isna(hair_color):
        return np.nan
    # Split by commas and strip whitespace, then filter valid categories
    colors = [color.strip() for color in hair_color.split(',')]
    # Return the first valid color found, or NaN if none match
    for color in colors:
        if color in valid_categories:
            return color
    return np.nan

In [33]:
df['Hair Color:'] = df['Hair Color:'].apply(normalize_hair_color)

In [35]:
df["Hair Color:"] = df["Hair Color:"].fillna("Other")

In [37]:
df["Fake Boobs:"] = df["Fake Boobs:"].fillna("No")

In [39]:
valid_categories = {'No', 'Yes'}

# Function to clean and normalize 'Fake Boobs:' values
def normalize_fake_boobs(fake_boobs):
    if pd.isna(fake_boobs):
        return np.nan
    # Return the value if it matches one of the valid categories, otherwise return NaN
    if fake_boobs in valid_categories:
        return fake_boobs
    return np.nan

In [41]:
df['Fake Boobs:'] = df['Fake Boobs:'].apply(normalize_fake_boobs)
df['Fake Boobs:'] = df['Fake Boobs:'].fillna("No")

In [43]:
valid_categories = {'Yes', 'No'}

# Function to clean and normalize 'Piercings:' values
def normalize_piercings(piercings):
    if pd.isna(piercings):
        return np.nan
    # Return 'Yes' or 'No' if it matches one of the valid categories, otherwise return 'No'
    if piercings in valid_categories:
        return piercings
    return 'No'

In [45]:
df['Piercings:'] = df['Piercings:'].apply(normalize_piercings)
df['Piercings:'] = df['Piercings:'].fillna("No")

In [52]:
df['Background:'] = df['Background:'].fillna('Other')

In [66]:
df.to_csv("Final.csv",index = False)

In [70]:
import pickle
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [72]:
data = df

In [74]:
label_encoders = {}
for column in ['Hair Color:', 'Fake Boobs:', 'Piercings:', 'Background:']:
    le = LabelEncoder()
    data[column] = le.fit_transform(data[column])
    label_encoders[column] = le

In [78]:
with open('label_encoders.pkl', 'wb') as le_file:
    pickle.dump(label_encoders, le_file)